article{
  box-sizing: border-box;
  height: 250px;
  border: 2px solid grey;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px
}
.tweetHistory{
  height: 120px;
  line-height: 60px;

}

.tweet-history article header{
  display: flex;
  justify-content: space-between;
}
.class1{
  display: flex;
  justify-content: flex-start;
}

.class1 span{
  align-self: center;
}
.class2 {
  display: flex;
  justify-content: flex-end;
}

.class2 .username{
  justify-self: start;
  color: gainsboro;
}

footer{
  display: flex;
  justify-content: space-between;
  
}

.footer-icon{
  color: #4056A1
}

.child1:hover{
  color: orange;
  box-shadow: 1px;
  cursor: pointer;
}

.child2:hover{
  color: orange;
  box-shadow: 1px;
  cursor: pointer;
}

.child3:hover{
  color: orange;
  box-shadow: 1px;
  cursor: pointer;
}



