.header_avatar {
  z-index: -1;
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media only screen and (min-width: 769px) {
  .header_avatar {
    width: 50%;
    height: 100%;
    position: fixed;
    bottom: 0px;
    z-index: -2;
  }
}