.header_avatar {
  z-index: -1;
  margin-top: 10%;
  height: 400px;
  width: 100%;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
